{{!-- Start of Course Table --}}
<div id="course-table" data-id="{{course.id}}">
  <table data-id="{{course.id}}" class="table table-hover">
    <thead> {{!-- Start Table Headers --}}
      <tr>
        <th>Id</th>
        <th>Course</th>
        <th>Semester</th>
        <th>Grade</th>
        <th>Credits</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead> {{!-- End Table Headers --}}
    <tbody data-id="{{course.id}}"> {{!-- Start Table Body --}}
      {{#each courses as |course|}}
      <tr data-id="{{course.id}}">
        {{!-- <th scope="row">1</th> --}}
        <td data-id="{{course.id}}">{{course.id}}</td>
        <td data-id="{{course.id}}">{{course.title}}</td>
        <td data-id="{{course.id}}">{{course.semester}}</td>
        <td data-id="{{course.id}}">{{course.grade}}</td>
        <td data-id="{{course.id}}">{{course.credits}}</td>
        <td data-id="{{course.id}}">
          <button data-id="{{course.id}}" class="btn-sm btn-primary form-control editButton" type="button">Edit</button>
          <button data-id="{{course.id}}" class="btn-sm btn-warning form-control saveButton" type="button">Save</button>
        </td>
        <td data-id="{{course.id}}"><button data-id="{{course.id}}" class="btn-sm btn-danger form-control destroyButton" type="button">Delete</button></td>
      </tr>
      {{/each}}
    </tbody> {{!-- End Table Body --}}
  </table>
</div>
{{!-- End of Course Table --}}
