<div class="hbs-narrative">
  <h1>My Courses</h1>
  <br>

  <p class="table-text">Below is your list of logged courses. Each course contains information such as the course name, semester, grade, and credit amount.</p>
</div>
<br>


{{!-- Start of Course Table --}}
<div id="course-table" data-id="{{course.id}}">
  <table data-id="{{course.id}}" class="table table-hover">
    <thead> {{!-- Start Table Headers --}}
      <tr>
        {{!-- <th>Id</th> --}}
        <th id=largeCol>Course</th>
        <th id=mediumCol>Semester</th>
        <th id=smallCol>Grade</th>
        <th id=smallCol>Credits</th>
        <th id=actionCol></th>
        <th id=actionCol></th>
      </tr>
    </thead> {{!-- End Table Headers --}}
    <tbody data-id="{{course.id}}"> {{!-- Start Table Body --}}
      {{#each courses as |course|}}
      <tr data-id="{{course.id}}">
        {{!-- <th scope="row">1</th> --}}
        {{!-- <td data-id="{{course.id}}">{{course.id}}</td> --}}
        <td class="C1" data-id="{{course.id}}">{{course.title}}</td>
        <td class="C2" data-id="{{course.id}}">{{course.semester}}</td>
        <td class="C3" data-id="{{course.id}}">{{course.grade}}</td>
        <td class="C4" data-id="{{course.id}}" type="number">{{course.credits}}</td>
        <td class="C5" data-id="{{course.id}}">
          <button data-id="{{course.id}}" class="btn-md btn-primary form-control editButton" type="button">Edit</button>
          <button data-id="{{course.id}}" class="btn-md btn-warning form-control saveButton" type="button">Save</button>
          {{!-- <div class="saveHBS"></div> --}}
        </td>
        <td class="C6" data-id="{{course.id}}">
          <button data-id="{{course.id}}" class="btn-md btn-danger form-control destroyButton" type="button">Delete</button>
          <button data-id="{{course.id}}" class="btn-md btn-default form-control cancelButton" type="button">Cancel</button>
          {{!-- <div class="cancelHBS"></div> --}}
        </td>
      </tr>
      {{/each}}
    </tbody> {{!-- End Table Body --}}
  </table>
</div>
{{!-- End of Course Table --}}
